 <div class="billing-details">
     <br>
     <div class="horizantalDivs">
         <div class="billingHeading">
            <div class="billingLabel"> <label>Billing Details</label></div>
            <hr class="horizantalFirstLine1">
        </div>
        <div class="orderConfirmation">
            <div class="orderLabel"> <label>Confirmation</label></div>
            <hr class="horizantalFirstLine2">
        </div>
     </div>
     <br>
     <br>


    <div class="firstRowDiv">
        <div class="fullNameDiv" >
            <div class="fullNameLabel"> <label>Student's Full Name</label></div>
            <div class="fullName" > <input type="text" class="textbox"></div>
        </div>
        <div class="emailDiv">
            <div class="emailLabel"> <label>Email</label></div>
            <div class="email" > <input type="text" class="textbox"></div>
        </div>
    </div>
   
    <div class="secondRowDiv">
        <div class="phoneNumberDiv" >
            <div class="phoneNumberLabel"> <label>Phone Number</label></div>
            <div class="phoneNumber" > <input type="text" class="textbox"></div>
        </div>
    </div>
    



     <div class="thirdRow">
        <div class="addressDiv1" >
            <div class="addressDiv1Label"> <label>Address line 1 : </label></div>
            <div class="addressDiv1" > <input type="text1" class="textbox"></div>
        </div>
    </div>
    <div class="fourthRow">
        <div class="addressDiv2" >
            <div class="addressDiv2Label"> <label>Address line 2 : </label></div>
            <div class="addressDiv2" > <input type="text1" class="textbox"></div>
        </div>
    </div>


    <br>
    <hr class="beneficiaryDetailsLine">
    <br>



    <div class="fifthRowDiv">
        <div class="accountNameDiv" >
            <div class="accountNameLabel"> <label> Beneficiary's Account Name</label></div>
            <div class="accountName" > <input type="text" class="textbox"></div>
        </div>
        <div class="bankNameDiv">
            <div class="bankNameLabel"> <label>Bank Name</label></div>
            <div class="bankName" > <input type="text" class="textbox"></div>
        </div>
        <div class="accountNumberDiv" >
            <div class="accountNumberLabel"> <label>Account Number</label></div>
            <div class="accountNumber" > <input type="text" class="textbox"></div>
        </div>
        <div class="dupAccountNumberDiv">
            <div class="dupAccountNumberLabel"> <label> Re-enter Account Number</label></div>
            <div class="dupAccountNumber" > <input type="text" class="textbox"></div>
        </div>

         <div class="swiftCodeDiv" >
            <div class="swiftCodeLabel"> <label>Swift Code</label></div>
            <div class="swiftCode" > <input type="text" class="textbox"></div>
        </div>
        <div class="benEmailDiv">
            <div class="benEmailLabel"> <label> Beneficiary's Email id</label></div>
            <div class="benEmail" > <input type="text" class="textbox"></div>
        </div>
    </div>


    
 </div>