*{
    font-family: 'Open Sans', sans-serif;
}
.horizantalDivs{
     margin-left: 130px;
}

.horizantalFirstLine1{
    width: 200px;
    border-color: #27B399;
}
.horizantalFirstLine2{
    width: 200px;
    border-color: #EAEEF1;
    opacity: 0.3;
}


.billingHeading{
    float: left;
}

.billingLabel{
    font-size: 14px;
    margin-left: 56px;
    font-weight: 700;
}

.orderConfirmation{
    float: left;	
    margin-left: 50px;
}
.orderLabel{
    margin-left: 63px;
    font-size: 12px;
    opacity: 0.3;
}

.billing-details{
    height: 675px;
    width: 700px;
    position: relative;
    float: left;
    webkit-box-shadow: 0 0 5px #40454B;
    -moz-box-shadow: 0 0 5px #40454B;
    box-shadow: 0 0 5px #40454B;
    
}

h4{
    position: relative;
    float: left;
}



input[type="text"]{
	padding: 6px;
	width: 285px;
	font-size: 1.1em;
	margin: 7px 0px;
	border: 2px solid#EAEEF1;
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	margin-left: 5px;
	outline:none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

input[type="text"]:focus {
	background:#fff;
	border:2px solid #609EC3;
	outline:none;
}

input[type="text1"]{
	padding: 6px;
	width: 600px;
	font-size: 1.1em;
	margin: 7px 0px;
	border: 2px solid#EAEEF1;
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	margin-left: 5px;
	outline:none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

input[type="text1"]:focus {
	background:#fff;
	border:2px solid #609EC3;
	outline:none;
}

.firstRowDiv{
    margin-top: 20px;
    margin-left: 40px;
}
 .fullNameLabel{
     font-size: 12px;
     margin-left: 7px;
}

.fullName{

}

.fullNameDiv{
    float: left;
}


.emailDiv{
    float: left;	
    margin-left: 25px;
}

.emailLabel{
    margin-left: 7px;
    font-size: 12px;
}
.email{

}

.secondRowDiv{
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
}

.phoneNumberDiv{

}

.phoneNumberLabel{
    margin-left: 7px;
    font-size: 12px;
}
.phoneNumber{

}
.thirdRow, .fourthRow{
    margin-left: 40px;
    margin-top: 10px;  
}
.addressDiv1{

}
.addressDiv1Label, .addressDiv2Label{
    margin-left: 7px;
    font-size: 12px;
}
.addressDiv1{

}

.fifthRowDiv{
    margin-left: 40px;
    margin-top: 10px;
}


.accountNameDiv, .accountNumberDiv, .swiftCodeDiv{
    float: left;
}

.accountNameLabel, .accountNumberLabel, .swiftCodeLabel{
    font-size: 12px;
     margin-left: 7px;
}
.accountName, .accountNumber, .swiftCode{

}

.bankNameDiv, .dupAccountNumberDiv, .benEmailDiv{
    float: left;	
    margin-left: 25px;
}

.bankNameLabel, .dupAccountNumberLabel, .benEmailLabel{
    margin-left: 7px;
    font-size: 12px; 
}
.bankName, .dupAccountNumber, .benEmail{

}
.beneficiaryDetailsLine {
    width: 500px;
    border-color: #d6d8e4;
    margin-left: 90px;
}
