.billing-details{
    height: 600px;
    width: 700px;
    position: relative;
    float: left;
     webkit-box-shadow: 0 0 5px #40454B;
    -moz-box-shadow: 0 0 5px #40454B;
    box-shadow: 0 0 5px #40454B;
    
}
h4{
    position: relative;
    float: left;
}