 <div class="billing-details">

    <div class="firstRowDiv">
        <div class="fullNameDiv" >
            <div class="fullNameLabel"> <label>Full Name</label></div>
            <div class="fullName" > <input type="text" class="textbox"></div>
        </div>
        <div class="emailDiv">
            <div class="emailLabel"> <label>Email</label></div>
            <div class="email" > <input type="text" class="textbox"></div>
        </div>
    </div>

    <div class="secondRowDiv">
        <div class="phoneNumberDiv" >
            <div class="phoneNumberLabel"> <label>Phone Number</label></div>
            <div class="phoneNumber" > <input type="text" class="textbox"></div>
        </div>
    </div>

     <div class="thirdRow">
        <div class="addressDiv1" >
            <div class="addressDiv1Label"> <label>Address line 1 : </label></div>
            <div class="addressDiv1" > <input type="text1" class="textbox"></div>
        </div>
    </div>
    <div class="fourthRow">
        <div class="addressDiv2" >
            <div class="addressDiv2Label"> <label>Adress line 2 : </label></div>
            <div class="addressDiv2" > <input type="text1" class="textbox"></div>
        </div>
    </div>
    
 </div>