<div class="order-confirmation">  
    <div class="documentsDiv">
        <h2>Documents Required</h2>
        <ul style="list-style-type:square">
            <li>Valid Passport</li>
            <li>Valid Student Visa</li>
            <li>One-Way Air Ticket</li>
            <li>Admission Letter From University</li>
            <li>I-20 (in case of travel to the USA)</li>
            <li>Pan Card</li>
        </ul>
    </div>

    <br>
    <br>
    <br>
    <br>

     <div class="firstRowDiv">
        <div class="fullNameDiv" >
            <div class="fullNameLabel"> <label>Full Name</label></div>
            <div class="fullName" > <input type="text" class="textbox"></div>
        </div>
        <div class="emailDiv">
            <div class="emailLabel"> <label>Email</label></div>
            <div class="email" > <input type="text" class="textbox"></div>
        </div>
    </div>

    <div class="secondRowDiv">
        <div class="phoneNumberDiv" >
            <div class="phoneNumberLabel"> <label>Phone Number</label></div>
            <div class="phoneNumber" > <input type="text" class="textbox"></div>
        </div>
    </div>
    

</div>
