
*{
    font-family: 'Open Sans', sans-serif;
}

.horizantalDivs{
     margin-left: 130px;
}

.horizantalFirstLine2{
    width: 200px;
    border-color: #27B399;
}
.horizantalFirstLine1{
    width: 200px;
    border-color: #EAEEF1;
    opacity: 0.3;
}


.orderConfirmation{
    float: left;
     margin-left: 50px;
}

.orderLabel{
    font-size: 14px;
    margin-left: 56px;
    font-weight: 700;
    color: #40454B;
}

.billingHeading{
    float: left;	
   
}
.billingLabel{
    margin-left: 63px;
    font-size: 12px;
    opacity: 0.3;
}
.documnentsMainHeading{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin-left: 20px;
    font-weight: bold;
    color: #40454B;
}


li , p, .doorPickup, .storePickup {
   font-family: 'Open Sans', sans-serif;
    font-size: 12px; 
    color: #40454B;
}

.order-confirmation{
    height: 675px;
    width: 700px;
    position: relative;
    float: left;
    webkit-box-shadow: 0 0 5px #40454B;
    -moz-box-shadow: 0 0 5px #40454B;
    box-shadow: 0 0 5px #40454B;

}

.documentsDiv{
    margin-left: 70px;
}
.orderDeliveryOptions{
     margin-left: 40px;
}


input[type="text"]{
	padding: 6px;
	width: 285px;
	margin: 7px 0px;
	border: 2px solid#EAEEF1;
	color: #40454B;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
	margin-left: 5px;
	outline:none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

input[type="text"]:focus {
	background:#fff;
	border:2px solid #609EC3;
	outline:none;
}

.orderFirstRowDiv{
    margin-top: 20px;
    margin-left: 40px;
}
 .orderFullNameLabel{
     font-size: 12px;
     margin-left: 7px;
     color: #40454B;
}

.orderFullName{

}

.orderFullNameDiv{
    float: left;
}


.orderEmailDiv{
    float: left;	
    margin-left: 25px;
}

.orderEmailLabel{
    margin-left: 7px;
    font-size: 12px;
    color: #40454B;
}
.orderEmail{

}


.orderSecondRowDiv{
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
}

.orderPhoneNumberDiv{
	float: left;
}

.orderPhoneNumberLabel{
    margin-left: 7px;
    font-size: 12px;
    color: #40454B;
}
.orderPhoneNumber{

}

.orderPinDiv{
    float: left;	
    margin-left: 25px;
}

.orderPinLabel{
    margin-left: 7px;
    font-size: 12px;
    color: #40454B;
}
.orderPin{

}

.orderThirdRow{
    margin-left: 40px;
    margin-top: 10px;  
}

.orderFourthRow{
    margin-left: 40px;
    margin-top: 10px;  
}
.orderAddressDiv1{

}
.orderAddressDiv1Label, .orderAddressDiv2Label{
    margin-left: 7px;
    font-size: 12px;
    color: #40454B;
}

input[type="text"]:focus {
	background:#fff;
	border:2px solid #609EC3;
	outline:none;
}

input[type="text1"]{
	padding: 6px;
	width: 600px;
	margin: 7px 0px;
	border: 2px solid#EAEEF1;
	color: #40454B;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
	margin-left: 5px;
	outline:none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.beneficiaryDetailsLine {
    width: 500px;
    border-color: #d6d8e4;
    margin-left: 90px;
}

.buttonDiv{
     margin-left: 163px;
    margin-top: 25px;
    float: left;
}

.buttonDiv2{
     margin-left: 163px;
    margin-top: 25px;
    float: left;
}
a.btn.btn-blue {
	background-color: #40454B;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

a.btn.btn-blue:hover {
    background-color: #4F87A2;
    border-color: rgba(0,0,0,0.5);
    cursor: hand;
}

a.btn.btn-blue:active {
    background-color: #3C677B;
    border-color: rgba(0,0,0,0.9);
}


a.btn {

	display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
}