<div class="order-confirmation">  
    <div class="documentsDiv">
        <h2>Documents Required</h2>
        <ul style="list-style-type:square">
            <li>Valid Passport</li>
            <li>Valid Student Visa</li>
            <li>One-Way Air Ticket</li>
            <li>Admission Letter From University</li>
            <li>I-20 (in case of travel to the USA)</li>
            <li>Pan Card</li>
        </ul>
    </div>

    <br>
    <br>
    <br>
    <br>

     <div class="orderFirstRowDiv">
        <div class="orderFullNameDiv" >
            <div class="orderFullNameLabel"> <label>Full Name</label></div>
            <div class="orderFullName" > <input type="text" class="textbox"></div>
        </div>
        <div class="orderEmailDiv">
            <div class="orderEmailLabel"> <label>Email</label></div>
            <div class="orderEmail" > <input type="text" class="textbox"></div>
        </div>
    </div>

    <div class="orderSecondRowDiv">
        <div class="orderPhoneNumberDiv" >
            <div class="orderPhoneNumberLabel"> <label>Phone Number</label></div>
            <div class="orderPhoneNumber" > <input type="text" class="textbox"></div>
        </div>
        <div class="orderPinDiv">
            <div class="orderPinLabel"> <label>PINCODE</label></div>
            <div class="orderPin" > <input type="text" class="textbox"></div>
        </div>
    </div>
    
       <div class="orderThirdRow">
        <div class="orderAddressDiv1" >
            <div class="orderAddressDiv1Label"> <label>Address line 1 : </label></div>
            <div class="orderAddressDiv1" > <input type="text1" class="textbox"></div>
        </div>
    </div>
    <div class="orderFourthRow">
        <div class="orderAddressDiv2" >
            <div class="orderAddressDiv2Label"> <label>Address line 2 : </label></div>
            <div class="addressDiv2" > <input type="text1" class="textbox"></div>
        </div>
    </div>

</div>
