 <div class="transfer-details">
     
  <h4>Transfer Details</h4>

  <!--dropdown-->
  <div class="countryDiv">
    <div class="country">Country</div>
    <div class="dropdown">
        <input class="dropdown-toggle" type="text">
        <div class="dropdown-text">Country</div>
        <ul class="dropdown-content">
          <li><a href="#">Singapore</a></li>
          <li><a href="#">Malaysia</a></li>
          <li><a href="#">United Kingdom</a></li>
        </ul>
    </div>
  </div>

<div class="currencyDiv">
    <div class="currency">Currency</div>
    <div class="dropdown2">
        <input class="dropdown-toggle" type="text">
        <div class="dropdown-text">Currency</div>
        <ul class="dropdown-content">
          <li><a href="#">Singapore</a></li>
          <li><a href="#">Malaysia</a></li>
          <li><a href="#">United Kingdom</a></li>
        </ul>
    </div>
  </div>

<div class="forexAmountDiv">
  <label class="forexAmount">Forex Amount</label>
  <input class="forexAmountInputBox" type="text" placeholder="Amount in {}">
</div>

<div class="inrDiv">
  <label class="inr">INR Amount</label>
  <label class="inrAmount">₹ {}</label>
</div>


<div class="rateDiv">
  <label class="rateLabel">Exchange Rate</label>
  <label class="rate">{}</label>
</div>

<div class="amountSavedDiv">
  <label class="amountSavedLabel">Amount Saved</label>
  <label class="amountSaved">{}</label>
</div>

 </div>